.App{
  margin-top: 0;
  min-height: 100vh;
  background-color: rgb(237, 184, 250);
}

h1{
  margin: 0%;
  text-align: center;
}

.search-form{
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;

}

.search-bar{
  width: 50%;
  border: none;
  padding: 10px;
}

.search-button{
width: 5%;  
padding: 10px 20px;
border: none;
background-color: lightcoral;
color: white;
}

.recipes{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}